<!-- About Section -->
<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">About</h2>
        <h3 class="section-subheading text-muted">A little about me, do not want to be too narcissistic. I mean you already are going to see my face on this website.</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <ul class="timeline">
          <li>
            <div class="timeline-image">
            <%= link_to image_tag("about/chile_escudo.jpg", :class => "img-circle img-responsive"), "http://en.wikipedia.org/wiki/Chile", :target => "_blank" %>

            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4 class="subheading">Humble Beginnings</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">Born and raised in Chile. A country with a lot of culture and a love for Futbol!</p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
              <%= link_to image_tag("about/fsu-logo.jpg", :class => "img-circle img-responsive"), "https://www.fsu.edu/", :target => "_blank" %>
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4 class="subheading">An Fan is Born</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">Studied Industrial Engineering at Florida State University and became a fan for life. Go Noles!</p>
              </div>
            </div>
          </li>
          <li>
            <div class="timeline-image">
              <%= link_to image_tag("about/ptr.jpg", :class => "img-circle img-responsive"), "http://www.propertytitlereports.com", :target => "_blank" %>
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4 class="subheading">Founded propertytitlereports.com</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">Created a website for homeowners, investors and real estate professional to obtain title reports. </p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
              <%= link_to image_tag("about/wyncode.jpg", :class => "img-circle img-responsive"), "http://www.wyncode.co", :target => "_blank" %>
        
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4 class="subheading">Extending my Knowledge</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">Submersed myself full-time in a nine week coding bootcamp, where I learned Ruby on Rails, HTML, CSS and Javascript.</p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
              <h4>Let Me
                <br>Be Part In
                <br>Your Story!</h4>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>