<!-- Portfolio Modal 1 -->
<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <!-- Project Details Go Here -->
            <h2>Property Title Reports</h2>
            <p class="item-intro text-muted">Serving the Real Estate Industry.</p>
            <p>Property Title Reports is a website for homeowners and investors to check the title history of their current or future property. We give our clients easy access to a report that will give them peace of mind to protect their current property. For investors we give them knowledge on their future properties, making sure that they are making a great good investment.</p>
            <p>
              <strong>Want to visit the website?</strong> You can follow the link:<a href="http://www.propertytitlereports.com"> PropertyTitleReports.com </a>
            </p>
            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>