<!-- Services Section -->
<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Weapons of Choice</h2>
        <h3 class="section-subheading text-muted">Some of the weapons at my disposal and always looking to add more.</h3>
      </div>
    </div>
    <div class="row text-center">

      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <i class="fa fa-html5 fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">HTML</h4>
        <!-- <p class="text-muted">HTML and C were the first languages I learned. Writing clean HTML together with rails has become an obsession. As everything else, I am continuosly learning and open to try new techniques.</p> -->
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">Ruby on Rails</h4>
        <!-- <p class="text-muted">I studied back-end development at Wyncode Bootcamp. Through 9 weeks of extensive full-time work, I was able to learn the basics of Ruby on Rails. I have been growing my knowledge since then and back-end development has become my passion.<br><br><br></p> -->
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <i class="fa fa-css3 fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">CSS</h4>
        <!-- <p class="text-muted">Lately CSS and the design of a website have been very important to me. I have been learning tirelessly every aspect of it including sass and less.<br><br><br><br><br><br></p> -->
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <i class="fa fa-check fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">JavaScript</h4>
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <i class="fa fa-home fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">Bootstrap</h4>
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <i class="fa fa-puzzle-piece fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">Agile Development</h4>
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <i class="fa fa-git fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">GIT</h4>
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <i class="fa fa-github fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">GitHub</h4>
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <i class="fa fa-gear fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">MVC Framework</h4>
      </div>
       <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <i class="fa fa-camera fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">Photoshop</h4>
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <i class="fa fa-database fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">Postgres/MySQL</h4>
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <i class="fa fa-linux fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">Linux</h4>
      </div>
    </div>
  </div>
</section>