<!-- About Section -->
<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">So Why Me?</h2>
        <h3 class="section-subheading text-muted">Because I do not like to sit around, and I want to go beyond the snore inducing and meaningless to find a better way to do things.</h3>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <ul class="timeline">
          <li>
            <div class="timeline-image">
            <%= link_to image_tag("whyme/solving_problems.jpg", :class => "img-circle img-responsive"), "http://en.wikipedia.org/wiki/Rubik's_Cube#Solutions", :target => "_blank" %>

            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4 class="subheading">I love to solve problems.</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">"We cannot solve our problems with the same thinking we used when we created them"<br> - Albert Einstein</p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
              <%= link_to image_tag("whyme/so_thats_what_that_button_does.jpg", :class => "img-circle img-responsive"), "http://www.leagueoflegends.com", :target => "_blank" %>
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4 class="subheading">I am a quick learner.</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">"Tell me and I forget. Teach me and I remember. Involve me and I learn" - Benjamin Franklin</p>
              </div>
            </div>
          </li>
          <li>
            <div class="timeline-image">
              <%= link_to image_tag("whyme/bending_spoon.jpg", :class => "img-circle img-responsive"), "http://www.youtube.com/watch?v=dzm8kTIj_0M", :target => "_blank" %>
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4 class="subheading">I think creatively</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">"The role of a creative leader is not to have all the ideas; it's to create a culture where everyone can have ideas and feel that they're valued." - Ken Robinson</p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
              <%= link_to image_tag("whyme/paint_exploding.jpeg", :class => "img-circle img-responsive"), "http://www.marcelchrist.com/about", :target => "_blank" %>
        
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4 class="subheading">I create.</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">"Man, the living ceature, the creating individual, is always more important than any established style or system" - Bruce Lee</p>
              </div>
            </div>
          </li>
          </ul>
        </div>
      </div>
    </div>
  </section>